@model TasksMenager.Models.ViewModels.CreateProjectViewModel

@section title{ Utwórz zadanie }


    <div class="row pl-3 pt-3 mb-1" id="FirstRow">
        <div class="col" id="CodeLabel">
            @Html.LabelFor(m => m.Code, new { @class = "font-weight-bold" })
        </div>
        <div class="col" id="CodeInput">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control-sm"})
            @Html.ValidationMessageFor(m => m.Code)
        </div>

        <div class="col" id="TimeBudgetAllocatedLabel">
            @Html.LabelFor(m => m.TimeBudgetAllocated, new { @class = "font-weight-bold" })
        </div>
        <div class="col" id="TimeBudgetAllocatedInput">
            <input type="Number" id="TimeBudgetAllocated" name="TimeBudgetAllocated" class="form-control-sm" value="0.0" />
            @Html.ValidationMessageFor(m => m.TimeBudgetAllocated)
        </div>
    </div>

    <div class="row pl-3 mb-1" id="SecondRow">
        <div class="col" id="TitleLabel">
            @Html.LabelFor(m => m.Title, new { @class = "font-weight-bold" })
        </div>
        <div class="col" id="TitleInput">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control-sm"})
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="col" id="DeadlineLabel">
            @Html.LabelFor(m => m.Deadline, new { @class = "font-weight-bold" })
        </div>
        <div class="col" id="DeadlineInput">
            <input type="datetime-local" id="Deadline" name="Deadline" class="form-control-sm" value="2011-08-19T13:45:00" />
            @Html.ValidationMessageFor(m => m.Deadline)
        </div>
    </div>

    <div class="row pl-3 mb-1" id="ThirdRow">
        <div class="col" id="AssignedToUserIdLabel">
            @Html.LabelFor(m => m.AssignedToUserId, new { @class = "font-weight-bold" })
        </div>
        <div class="col" id="AssignedToUserIdInput">
            @Html.TextBoxFor(m => m.AssignedToUserId.Login, new { @class = "form-control-sm" }) @*TODO: Dodać listę z użytkownikami do wyboru*@
            @Html.ValidationMessageFor(m => m.AssignedToUserId)
        </div>

        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row pl-3" id="FourthRow">
        <div class="col">
            @Html.LabelFor(m => m.Description, new { @class = "font-weight-bold" })
            <textarea class="form-control pb-2" id="exampleTextarea" rows="7" style="min-width:  99%;"></textarea>
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>

    <div class="row p-3" id="FooterRow">
        <div class="col">
            <div class="form-inline float-right">
                <button class="btn btn-primary">Utwórz zadanie</button>
            </div>
        </div>
    </div>
